body {
    font-family: Arial, sans-serif;
    background-image: url('bgbg.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

#container {
    margin: 75px auto;
    padding: 30px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input {
    margin-bottom: 20px;
    padding: 1px;
    width: 100%;
}

button {
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
